<div class="container my-4">
  <h1>Add Tag for your Plant</h1>
  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%= f.association :tag, input_html: {multiple: true, data: {controller: 'tom-select'}} %>
    <%= f.submit %>
  <% end %>

</div>
